body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(137, 187, 189, 0.76);
  }
  
  .login-box {
    width: 320px;
    height: 420px;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  
  .login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
  }
  
  .login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
  }
  
  .login-box input {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(7, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(0, 0, 0);
    font-size: 16px;
  }

  .login-box input[type="text"]:focus, .login-box input[type="password"]:focus {
    background-color: #ffc107;
  }

  .login-box input[type="submit"][id="boton_iniciar"] {
    border: none;
    outline: none;
    height: 40px;
    background: #0f5eb8;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box input[type="submit"][id="boton_iniciar"]:focus {
    background-color: #ffc107;  
  }

  .login-box input[type="submit"][id="boton_registrar"] {
    border: none;
    outline: none;
    height: 40px;
    background: #045c14;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }

  .login-box input[type="submit"][id="boton_registrar"]:focus {
    background-color: #ffc107;  
  }
  
  .login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkslategrey;
  }
  
  .login-box a:hover {
    color: rgb(0, 0, 0);
  }

 